.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: background-color 2s;
}

.ex-1-square:hover {
  background-color: red;
}

.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s;
}

.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: border-radius 0.5s;
}

.ex-3-square:hover {
  border-radius: 50%;
}

.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: background-color 2s;
}

.ex-4-square:hover {
  background-color: transparent;
}

.ex-5-square {
  margin: 20px;
  width: 60px;
  height: 60px;
  background: red;
  transition: all 0.5s;
}

.ex-5-square:hover {
  margin: 0;
  width: 100px;
  height: 100px;
}

.ex-5-square:active {
  margin: 35px;
  width: 30px;
  height: 30px;
}

.ex-6-img,
.ex-7-img,
.ex-8-img {
  width: 500px;
}

.ex-6-img:hover {
  filter: grayscale(100%);
}

.ex-7-img {
  transition: filter 2s;
}

.ex-7-img:hover {
  filter: sepia(70%) grayscale(30%);
}

.ex-8-img {
  transition: all 1s;
}

.ex-8-img:hover {
  filter: grayscale(70%) sepia(30%);
  border-radius: 18px;
}

.ex-9-img {
  margin: 50px 100px;
  width: 400px;
  transition: all 2s;
}

.ex-9-img:hover {
  filter: grayscale(70%) sepia(30%);
  border-radius: 30px;
  margin: 0;
  width: 570px;
}

.ex-10-icon {
  font-size: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ex-11-icon {
  font-size: 60px;
}

.ex-11-icon:hover {
  animation: incomplete-spin 2s linear;
}

@keyframes incomplete-spin {
  0% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0);
  }
}

.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}
.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}
.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
  animation: move-top-white 2s linear;
}
@keyframes move-top-white {
  0% {
    left: 10%;
  }
  50% {
    left: calc(100% - 60px);
  }
  100% {
    left: 10%;
  }
}
.ex-12-button:hover .ex-12-bottom-white {
  animation: move-bottom-white 2s linear;
}
@keyframes move-bottom-white {
  0% {
    right: 20%;
  }
  50% {
    right: calc(100% - 60px);
  }
  100% {
    right: 20%;
  }
}

.ex-13-button:hover .ex-13-top-white {
  animation: move-top-white-around 2s linear;
}
@keyframes move-top-white-around {
  0% {
    left: 10%;
    top: -10px;
  }
  30% {
    left: calc(100% - 30px);
    top: -10px;
  }
  45% {
    left: calc(100% - 30px);
    top: 100%;
  }
  75% {
    left: 0;
    top: 100%;
  }
  90% {
    left: -15px;
    top: -10px;
  }
  100% {
    left: 10%;
    top: -10px;
  }
}
.ex-13-button:hover .ex-13-bottom-white {
  animation: move-bottom-white-around 2s linear;
}
@keyframes move-bottom-white-around {
  0% {
    bottom: -10px;
    right: 20%;
  }
  30% {
    right: calc(100% - 30px);
    bottom: -10px;
  }
  45% {
    right: calc(100% - 30px);
    bottom: 100%;
  }
  75% {
    right: 0;
    bottom: 100%;
  }
  90% {
    right: -15px;
    bottom: -10px;
  }
  100% {
    bottom: -10px;
    right: 20%;
  }
}
